.spacer {
  flex: 1 1 auto;
}

.active{
  background-color:  rgb(168, 143, 3);
}

.header-container{
  background-color:  rgb(9, 2, 68);
}
h1{
  color:rgb(168, 143, 3)
}

.mat-mdc-button:not(:disabled){
  color:white;
}